.box {
    background-image: url("bac.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
  
.boh {
    background-image: url(pas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-attachment: fixed;
}